.Logo {
  height: 85%;
  pointer-events: none;
}
  
.Header {
  background-color: #81b3f4;
  height: 16vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.Tabs {
    width: 50%;
}

.LogoDiv {
    width: 18%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 2% 
}

.LogoDiv:hover {
    cursor: pointer;
}

.Profile {
    height: 50%;
}