.App {
  text-align: center;
}
  
.Header img {
  height: 20vmin;
  pointer-events: none;
}
  
.Header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
.App-link {
  color: #61dafb;
}