.App {
  text-align: center;
}
  
.Header {
  background-color: #8ea4cf;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header img {
  height: 18vmin;
  pointer-events: none;
}

.Header h1 {
  color: white;
  -webkit-text-stroke: 2px black;
}

.Logo {
  
}
  
.App-link {
  color: #61dafb;
}